<html>   
<head>   
    <title >upload the file : GFG</title>   
</head>   
<body style = "background-color:rgb(207, 198, 198); text-align: center;">   
  
    <form action = "/success" method = "post" enctype="multipart/form-data">   
        <!--enctype="multipart/form-data" is necessary when uploading data-->
        <input type="file" name="file"/>   <!--create a button here-->
        <input type = "submit" value="Upload">   <!-- create a button here-->
    </form>   
    <form>
        <textarea style = "text-align:left;" name="user_text" rows="10" cols="50" placeholder="How can I help you..."></textarea>
    </form>
  
</body>   
</html>
